@charset "UTF-8";

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-image: linear-gradient(to right, #708CFF, #425088);
}
main {
    width: 600px;
    background-color: white;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #2f3961ad;
}
h1 {
    color: #d3785d;
    text-shadow: 1px 1px 2px #b46750bd;
    text-align: center;
}
h2 {
    color: #B3664F;
}
p {
    text-align: justify;
}